* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: "Roboto";
  border-top: 30px solid #303f9f;
}

.wrap {
  width: 90%;
  max-width: 500px;
  padding: 20px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 3px grey;
}

.contenedor {
  width: 100%;
  padding: 50px;
  width: 100%;
  margin: auto;
}

.button {
  font-family: "Roboto";
  font-size: 16px;
}
.button-registrar {
  background-color: #303f9f;
  color: #fbfcfd;
}
.button-resetear {
  background-color: #c41e12;
  color: #fbfcfd;
}

.text-align-center {
  text-align: center;
  vertical-align: middle;
}

.label {
  display: block;
  width: 90px;
  text-align: right;
  padding-left: 15px;
  text-indent: -15px;
}

.img-center {
  margin: -20px auto 10px;
  display: block;
}
